@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    background-color: #f0f9ff;
    /* font-family: 'Ninuto', sans-serif; */
    font-family: 'Rubik', sans-serif;
}


/* Barra de navegación */

nav {
    background-color: #f0f9ff;
}

nav ul li a {
    color: #58b1fc;
    position: relative;
    display: block;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0a599e;
}

nav ul li a:before {
    color: #0a599e !important;
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 21px;
    background: #0a599e;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top;
    transition: .3s;
}

nav ul li a:hover:before {
    transform: scaleX(1);
}

nav img {
    width: 150px;
}

nav .btn-primary {
    margin-left: 200px;
    background-color: #2699fb;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
}

nav li.active a {
    color: #0a599e !important;
}

nav li.active .btn-primary {
    color: #2699fb !important;
    background-color: white;
}


/* Seccion Posgrado UTEC */

.video video {
    width: 100%;
}

.posgrado {
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 30vh;
}

.posgrado h5 {
    font-size: 50px;
    padding-bottom: 20px;
    color: #58b1fc;
    font-weight: bold;
}

.posgrado p {
    font-size: 20px;
    text-align: justify;
    color: #58b1fc;
}


/* Seccion Maestria */

.maestrias {
    padding-top: 120px;
    /* height: 940px; */
    height: 100vh;
    background-color: #2699fb;
}

.maestrias p.h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.maestrias .card {
    background-color: #f0f9ff;
    height: 700px;
}

.maestrias .card-body h5 {
    font-weight: bold;
}

.maestrias .card-body h5,
.maestrias .card-body ul li {
    color: #2699fb;
}

.maestrias .card-title {
    font-size: 25px;
}

.maestrias ul {
    padding-top: 10px;
}

.maestrias ul li {
    list-style: none;
}


/* Seccion Diplomados */

.diplomados {
    padding-top: 380px;
    height: 100vh;
    background-color: #f0f9ff;
}

.diplomados .medio {
    padding-right: 20px;
    color: #2699fb;
}

.diplomados h5 {
    font-size: 40px;
    font-weight: bold;
}

.diplomados .coming {
    color: #2699fb;
    padding-top: 30px;
    border-left: 4px solid #2699fb;
    height: 180px;
}


/* Seccion Cita */

.cita {
    padding-top: 170px;
    height: 500px;
    background-color: #2699fb;
}

.cita p {
    color: white;
    font-size: 30px;
}

.cita .autor {
    text-align: right;
}


/* Formulario */

#formulario {
    padding-top: 150px;
    background-color: black;
    height: 1300px;
}

#formulario h3 {
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#formulario iframe {
    text-align-last: center;
    height: 1200px;
    width: 100%;
    border: none;
}


/* Footer */

footer .footer-logo img {
    padding-top: 50px;
    width: 200px;
}

footer {
    background-color: #2699fb;
    height: 150px;
}

.footer .direccion-utec {
    font-size: 20px;
    padding-top: 45px;
    color: white;
}

.footer .redes-sociales {
    padding-top: 46px;
    text-align: center;
    color: white;
}

.footer .reglamento a {
    color: white !important;
    text-decoration: none;
}

.footer .reglamento p {
    color: white !important;
    padding-top: 47px;
    text-align: center;
}


/* Media Queries */

@media (min-width: 360px) and (max-width: 640px) {
    .video video {
        margin-top: 100px;
    }
    .posgrado {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        height: 60vh;
    }
    .posgrado h5 {
        font-size: 30px;
        padding-bottom: 5px;
        color: #58b1fc;
        font-weight: bold;
    }
    .posgrado p {
        font-size: 20px;
    }
    .maestrias {
        padding-top: 50px;
        height: 195vh;
    }
    .maestrias p.h1 {
        padding-bottom: 20px;
    }
    .maestrias .card {
        margin-top: 15px;
        background-color: #f0f9ff;
        height: 620px;
    }
    .diplomados {
        padding-top: 190px;
        height: 90vh;
        background-color: #f0f9ff;
        border-left: 0px solid #f0f9ff !important;
    }
    .diplomados .coming {
        border-left: 0px solid #f0f9ff !important;
    }
    .cita {
        padding-top: 70px;
        height: 400px;
    }
    .cita p {
        color: white;
        font-size: 20px;
    }
    #formulario {
        height: 1350px;
    }
    #formulario iframe {
        text-align-last: center;
        height: 1200px;
        width: 100%;
        border: none;
    }
    footer {
        height: 600px;
    }
    .footer .direccion-utec {
        padding-top: 20px;
        text-align: center;
    }
    .footer .redes-sociales {
        padding-top: 20px;
    }
    .footer .redes-sociales img {
        padding-bottom: 20px;
        width: 40px;
    }
    .footer-logo {
        text-align: center;
    }
    .footer .reglamento p {
        padding-top: 20px;
    }
    .navbar-toggler-icon {
        color: #2699fb;
    }
}