@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    background-color: #f0f9ff;
    font-family: 'Ninuto', sans-serif;
}

/* Barra de navegación */

nav{
    background-color: #f0f9ff;
}

nav ul li a{
    color: #58b1fc;
    position: relative;
    display: block;
    margin-left: 30px;
}

nav ul li a:hover{
    color: #2699fb;
}

nav ul li a:before{
    color: #2699fb !important;
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 15px;
    background: #2699fb;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top;
    transition: .3s;
}

nav ul li a:hover:before{
    transform: scaleX(1);
}

nav img{
    width: 120px;
}

nav .btn-primary{
    margin-left: 200px;
    background-color: #2699fb;
    border-radius: 2px;
}


nav li.active a{
    color: #2699fb !important;
}

/* nav li.active a:before{
    
}

nav li.active a:hover:before{
   
} */

/* Secction bienvenida */
.bienvenida{
    padding: 0px 0;
    height: 855px;
}

.bienvenida p{
    color: #2699fb;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 30px;
}

.bienvenida img{
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.bienvenida ul{
    list-style: none;
}

.bienvenida ul li{
    color: #58b1fc;
}

/* Seccion Posgrado UTEC */

.posgrado{
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
}

.posgrado h5{
    font-size: 50px;
    padding-bottom: 20px;
    color: #58b1fc;
}

.posgrado p{
    font-size: 20px;
    text-align: justify;
    color: #58b1fc;
}



/* Seccion Maestria */
.maestrias{
    padding-top: 110px;
    height: 800px;
    background-color: #2699fb;
}

.maestrias p.h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.maestrias .card{
    background-color: #f0f9ff;
}

.maestrias .card-body h5, .maestrias .card-body ul li{
    color: #2699fb;
}

/* Seccion Diplomados */

.diplomados{
    padding-top: 239px;
    height: 700px;
    background-color: #f0f9ff;
}

.diplomados .medio{
    padding-right:20px; 
    border-right: 1px solid #ccc;
    color: #2699fb;
}

.diplomados .commingsoon{
    padding-top: 50px;
    color: #2699fb;
}